.shopItem {
  border-radius: 6px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  background-color: white;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  overflow: hidden;
}

.imgContainer {
  background-color: var(--color-light-gray);
  padding: 15px;

  display: flex;
  justify-content: center;

  overflow: hidden;
}

.imgContainer img {
  object-fit: contain;
}

.infoContainer {
  min-height: 130px;
  padding: 15px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
}

.title {
  font-size: 1rem;
  font-weight: normal;

  /* Allows to do text-overflow: ellipsis on two lines of text */
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.priceContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.price {
  font-size: 1.2rem;
}

.cartBtn {
  height: 40px;
  width: 40px;

  border: none;
  border-radius: 50%;
  background-color: var(--color-light-blue);
  color: white;

  padding: 0;
}

.cartBtn:hover {
  cursor: pointer;
  background-color: var(--color-dark-blue);
}

.cartBtn svg {
  margin: auto;
}
