:root {
  --system-ui:
    system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --color-yellow-main: #ffe600;
  --color-white-bg: #ededed;
  --color-light-gray: #f5f5f5;
  --color-light-blue: #3483fa;
  --color-dark-blue: #2968c8;
  --max-width: 1200px;

  background-color: var(--color-white-bg);
  font-family: "Proxima Nova", var(--system-ui);
}

@font-face {
  font-display: swap;
  font-family: Proxima Nova;
  src:
    url(https://http2.mlstatic.com/ui/webfonts/v4.2.0/proxima-nova/proxima-nova-500.woff2)
      format("woff2"),
    url(https://http2.mlstatic.com/ui/webfonts/v4.2.0/proxima-nova/proxima-nova-500.woff)
      format("woff"),
    url(https://http2.mlstatic.com/ui/webfonts/v4.2.0/proxima-nova/proxima-nova-500.ttf)
      format("truetype");
}

#root {
  min-height: 100svh;
  margin: auto;

  display: flex;
  flex-direction: column;
  align-items: stretch;
}
