.footer {
  margin-top: auto;
}

.innerFooter {
  composes: innerLayout from global;
  margin: 40px auto;

  display: flex;
  justify-content: center;
}

@media (max-width: 767px) {
  .innerFooter {
    justify-content: flex-start;
  }
}
